#contact_modal {
    display: none;
}


/***** PHOTOGRAPHER HEADER *****/
.photograph-header {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 30px 100px 0 100px;
    border-radius: 16px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.07);
}

.photograph-header-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.photograph-header-left h1{
    font-size: 64px;
    font-weight: 400;
    color: #D3573C;
}

.photographer-header-location {
    font-size: 24px;
    font-weight: 400;
    color: #901C1C;
}

.photographer-header-tagline {
    font-size: 18px;
    font-weight: 400;
    color: #525252;
}

.contact_button {
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photograph-header-right img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.07);
}

/***** PHOTOS GALLERY *****/
.photograph-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    margin: 30px 100px 100px 100px;
}

.media-link {
    width: 350px;
    height: 300px;
}

.media-card {
    background: #fff;
    width: 350px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    outline: none;
    transition: box-shadow 0.2s;
}
.media-card:focus {
    box-shadow: 0 0 0 3px #db8876;
}

.media-img, .media-video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    background: #eee;
}

.media-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem 0 1.1rem 0;
    font-size: 1.15rem;
}
.media-title {
    font-weight: 400;
    color: #901c1c;
    font-size: 24px;
    width: 60%;
}
.media-likes {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 500;
    color: #901c1c;
    font-size: 24px;
    width: 40%;
}
.media-likes img {
    margin-left: 0.3em;
    width: 1.1em;
    height: 1.1em;
}

/***** INFO BAR *****/
.photograph-info-bar {
    position: fixed;
    width: 376px;
    height: 70px;
    right: 40px;
    bottom: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
    background: #DB8876;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);
    font-size: 24px;
    font-weight: 500;
    z-index: 100;
    color: black;
}


/***** CONTACT MODAL *****/
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}