@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

p, h2, h1 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    outline: none;
}

.logo:focus {
    outline: 3px solid #D3573C;
    outline-offset: 4px;
    box-shadow: 0 0 0 4px #ffd6c1;
    transition: outline 0.2s, box-shadow 0.2s;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

header a {
    outline: none;
    margin-left: 100px;
}

header a:focus {
    outline: 3px solid #D3573C;
    outline-offset: 4px;
    box-shadow: 0 0 0 4px #ffd6c1;
    transition: outline 0.2s, box-shadow 0.2s;
}

.logo {
    height: 50px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.photographer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photographer-link:focus {
    outline: 3px solid #D3573C;
    outline-offset: 4px;
    box-shadow: 0 0 0 4px #ffd6c1;
    transition: outline 0.2s, box-shadow 0.2s;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    font-weight: 400;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

.photographer_section article .photographer-location {
    font-size: 13px;
    font-weight: 400;
    color: #901C1C;
}

.photographer_section article .photographer-tagline {
    font-size: 10px;
    font-weight: 400;
    color: black;
}

.photographer_section article .photographer-price {
    font-size: 9px;
    font-weight: 400;
    color: #757575;
}